<html>
<head>
    <title>{{ brand.getTitle }}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class="container">
        <h1>{{ brand.getTitle }}</h1>

        {% if stores is not empty %}
            <h3>Stores that carry {{ brand.getTitle }}:</h3>
            <ol>
                {% for store in stores %}
                <li>{{ store.getName }}</li>
                {% endfor %}
            </ol>
        {% else %}
            <h3>This brand is not carried at any listed stores.</h3>
        {% endif %}

        <form action="/add_store" method="post">
            <label for="store_id">Select a Store</label>
            <input value="{{ brand.getId }}" id="brand_id" name="brand_id" type="hidden">
            <select id="store_id" name="store_id" type="int">
                {% for store in all_stores %}
                    <option value="{{ store.getId }}">{{ store.getName }}</option>
                {% endfor %}
            </select>
            <button type="submit">Add Store</button>
        </form>

        <form action="/delete_brand" method="post">
            <input name="_method" type="hidden" value="delete">
            <input name="brand_id" id="brand_id" value="{{ brand.getId }}" type="hidden">
            <button type="submit">Remove this brand</button>
        </form>



        <form action="/brands">
            <button type="submit">Back to the list of brands</button>
        </form>

        <form action="/">
            <button type="submit">Back home</button>
        </form>
    </div>
</body>
</html>
