<html>
<head>
    <title>{{ store.getName }}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class="container">
        <h1>{{ store.getName }}</h1>

        {% if brands is not empty %}
            <h3>Brands of shoes we carry:</h3>
            <ol>
                {% for brand in brands %}
                <li>{{ brand.getTitle }}</li>
                {% endfor %}
            </ol>
        {% else %}
            <h3>This store does not carry any listed brands of shoes.</h3>
        {% endif %}

        <form action="/add_brand" method="post">
            <label for="brand_id">Add a brand to the {{ store.getName }} inventory:</label>
            <input value="{{ store.getId }}" id="store_id" name="store_id" type="hidden">
            <select id="brand_id" name="brand_id" type="int">
                {% for brand in all_brands %}
                    <option value="{{ brand.getId }}">{{ brand.getTitle }}</option>
                {% endfor %}
            </select>
            <button type="submit">Add Brand</button>
        </form>

        <form action="/delete_brand" method="post">
            <input name="_method" type="hidden" value="delete">
            <label for="brand_id">Remove a brand from this store</label>
            <input value="{{ store.getId }}" name="store_id" id="store_id" type="hidden">
            <select id="brand_id" name="brand_id" type="int">
                {% for brand in brands %}
                    <option value="{{ brand.getId }}">{{ brand.getTitle }}</option>
                {% endfor %}
            </select>
            <button type="submit">Remove Brand</button>
        </form>

        <form action="/delete_store" method="post">
            <input name="_method" type="hidden" value="delete">
            <input name="store_id" id="store_id" value="{{ store.getId }}" type="hidden">
            <button type="submit">Remove this store</button>
        </form>

        <form action="/stores">
            <button type="submit">Back to the list of stores</button>
        </form>

        <form action="/">
            <button type="submit">Back home</button>
        </form>
    </div>
</body>
</html>
